body {
    background-color: black;
    color: aliceblue;
    font-family: courier, monospace;
    font-size: 18px;
    font-weight: 900;
}



.control {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30% 0 30%;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.a {
    color: #0F0;
}

.aa {
    color: aliceblue;

}

.b {
    color: #ff0096;
}

.c {
    color: #0bc;
}

img {
    border-radius: 10%;
}

.pro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    /* Add this property */
}

.pro_grid {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 80px;
}

.soc {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.soc_grid {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 100px;
}

.text1 {
    font-weight: bold;
}

.text2_mini {
    color: #727272;
    font-size: 15px;

}

.soc_text {
    color: #727272;
}

.arrow {
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 5px;
    transform: rotate(45deg);
}

.arrow span {
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    position: absolute;
    top: 5px;
    left: 5px;

    transform: rotate(-15deg);
}

.link-underline {
    text-decoration: none;
}

.link-underline:hover {
    text-decoration: underline;
}

.message-bubble {
    display: none;
    position: absolute;
    top: 0;
    right: -30px;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.836);
    color: #000000;
    text-align: center;
    line-height: 30px;
    border-radius: 10%;
}



/* add a media query for screens with a maximum width of 420px */
@media (max-width: 420px) {

    body {
        background-color: black;
        color: aliceblue;
        font-family: courier, monospace;
        font-size: 15px;
        font-weight: 900;


    }

    .control {
        margin-top: 80px;
        margin-bottom: 80px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 10% 0 10%;
    }

    .pro {
        display: block;
        grid-template-columns: repeat(1, 2fr);
    }

    .pro_grid {
        display: block;
        grid-template-columns: max-content auto;
        gap: 80px;
    }

    .soc {
        display: block;
        grid-template-columns: repeat(1, 1fr);
    }

    .soc_grid {
        display: block;
        grid-template-columns: max-content auto;
        align-items: center;
        gap: 100px;
    }


}


/* add a media query for screens with a maximum width of 920px */
@media (max-width: 920px) {

    body {
        background-color: black;
        color: aliceblue;
        font-family: courier, monospace;
        font-size: 15px;
        font-weight: 900;


    }

    .control {
        margin-top: 80px;
        margin-bottom: 80px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 10% 0 10%;
    }

    .pro {
        display: block;
        grid-template-columns: repeat(1, 2fr);
    }

    .pro_grid {
        display: block;
        grid-template-columns: max-content auto;
        gap: 80px;
    }

    .soc {
        display: block;
        grid-template-columns: repeat(1, 1fr);
    }

    .soc_grid {
        display: block;
        grid-template-columns: max-content auto;
        align-items: center;
        gap: 100px;
    }


}
